@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #FFF7F0;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
}

img {
    max-width: 100%;
}

span {
    display: inline-block;
}

.container {
    width: 1111px;
    margin: 34px auto 56px;
    text-align: center;
}

.logo-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.btn a {
    background: #030303;
    border-radius: 28px;
    color: #FFF7F0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    padding: 14px 45px;
}

header {
    margin-bottom: 80px;
}

header h1 {
    color: #030303;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header h4 {
    color: #7A746E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 23px auto 0;
    width: 730px;
}


section.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 136px;
}

.graphic-design {
    background: #755CDE;
    color: #fff;
    padding: 24px;
    border-radius: 8px;
    height: 388px;
}

.graphic-design span {
    display: inline-block;
    margin-bottom: 102px;
    margin-left: 178px;
}

.graphic-design h3 {
    margin-right: 120px;
}

.nested__grid-middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.nested__grid-middle .ui {
    background: #F6A560;
    padding: 24px;
    border-radius: 8px;

}

.ui,
.apps,
.ill,
.photo,
.mog {
    height: 182px;
}

.ui span,
.app span {
    margin-left: 52px;
    margin-bottom: 40px;
}

.ui h3,
.app h3 {
    margin-right: 34px;
}

.nested__grid-middle .app {
    background: #F39E9E;
    padding: 24px;
    border-radius: 8px;
}

.photo {
    background: #61C4B7;
    padding: 24px;
    border-radius: 8px;
    text-align: left;
}

.photo span {
    margin-left: 146px;
    margin-bottom: 42px;
}

.photo h3 {
    margin-right: 144px;
}

.nested__grid-right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.ill {
    background: #EB7565;
    padding: 24px;
    border-radius: 8px;
    grid-column: span 2;
    text-align: left;
    height: 182px;
}

.ill span {
    margin-left: 146px;
    margin-bottom: 24px;
}

.ill h3 {
    margin-right: 144px;
}

.mog {
    border-radius: 8px;
    background: #552049;
    padding: 24px;
    text-align: left;
}

.mog span {
    margin-left: 178px;
    margin-bottom: 24px;
}

.bio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 125px;
    margin-bottom: 88px;
}

.bio-grid h1 {
    color: #030303;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 70px;
    margin-bottom: 34px;
    text-align: left;
    width: 540px;
}

.bio-grid h4 {
    color: #7A746E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin-bottom: 32px;
}

.bio-grid div:nth-child(2) span {
    margin-right: 312px;
}

.bio-grid div:nth-child(2) a {
    background: #EB7565;
    border-radius: 28px;
    color: #FFF7F0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    padding: 14px 45px;
}

section.work {
    text-align: center;
    margin-bottom: 88px;
}

.work h2 {
    color: #030303;
    margin-bottom: 56px;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
    width: 1440px;
    margin: 0 auto 56px;
}

.work-grid div {
    /* border: 2px solid red; */
    height: 360px;
    text-align: center;
}

.work-grid div img {
    border-radius: 10px;
}


.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 114px;
    padding: 81px 95px 81px 65px;
    background: #030303;
    color: #fff;
    align-items: center;
}

section.cta div:first-child {
    text-align: left;
}

.cta-btn a {
    background: #EB7565;
    border-radius: 28px;
    color: #FFF7F0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    padding: 14px 45px;
}

section.cta {
    width: 1111px;
    margin: 0px auto 74px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

section.cta h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}

section.cta h4 {
    color: #FFF7F0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.logo__btn-bottom {
    width: 1111px;
    margin: 0px auto 74px;
}